<div class="container">
  <h1>Modules in Angular</h1>
  <ul class="routers-nav">
    <li class="routers-nav__item"><a routerLink="/">Education</a></li>
    <li class="routers-nav__item">
      <a routerLink="/programming">Programming</a>
    </li>
    <li class="routers-nav__item"><a routerLink="/trips">Trips</a></li>
    <li class="routers-nav__item"><a routerLink="notebook">Notebook</a></li>
    <li class="routers-nav__item"><a routerLink="phone">Phone</a></li>
    <li class="routers-nav__item"><a routerLink="tv">TV</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
